# ============================================================
# DATABASE
# ============================================================
DATABASE_URL="postgresql://casn_user:casn_password@localhost:5432/casn_db"

# ============================================================
# REDIS
# ============================================================
REDIS_HOST=localhost
REDIS_PORT=6379

# ============================================================
# JWT
# ============================================================
JWT_SECRET=ganti_dengan_secret_panjang_dan_acak
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=ganti_dengan_refresh_secret_berbeda
JWT_REFRESH_EXPIRES_IN=7d

# ============================================================
# APP
# ============================================================
PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# ============================================================
# MINIO / S3 (Phase 4 - upload file)
# ============================================================
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=casn_minio
MINIO_SECRET_KEY=casn_minio_secret
MINIO_BUCKET=casn-files
MINIO_USE_SSL=false
